# Perfil aislado para una copia local de OpenMRS. No contiene secretos.
AUTH_MODE=keycloak
BAHMNI_PUBLIC_URL=https://localhost
BAHMNI_LOCAL_DEV_URL=https://localhost
OPENMRS_LOCAL_DB_NAME=openmrs
OPENMRS_LOCAL_DB_USER=openmrs-local
OPENMRS_LOCAL_DB_PORT=13306
OPENMRS_LOCAL_IMAGE=bahmni/openmrs:1.1.2@sha256:3b0c29f1192b8a772175352eae5ebb94ae3f67a20c992fff3b6e36664bdb3fbb
OPENMRS_LOCAL_DB_IMAGE=mysql:8.0.46@sha256:7dcddc01f13bab2f15cde676d44d01f61fc9f99fe7785e86196dfc07d358ae2b
OPENMRS_LOCAL_PROXY_DEFINES=-D NEXT_SHELL -D NEXT_REGISTRATION -D NEXT_CLINICAL -D NEXT_BEDMANAGEMENT -D NEXT_ADT -D LOCAL_OPENMRS
HCSBA_OAUTH2_OMOD_PATH=../../openmrs-module-oauth2login-hcsba/omod/target/oauth2login-1.5.0.omod
HCSBA_IPD_OMOD_PATH=../../openmrs-module-ipd/omod/target/bahmni-ipd-1.1.1-hcsba.5.omod
KEYCLOAK_INTERNAL_URL=http://keycloak:8080
